@font-face {
    font-family: 'iconfont';  /* project id 621824 */
    src: url('https://at.alicdn.com/t/font_621824_bgbsmim9ejfnipb9.eot');
    src: url('https://at.alicdn.com/t/font_621824_bgbsmim9ejfnipb9.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_621824_bgbsmim9ejfnipb9.woff') format('woff'),
    url('https://at.alicdn.com/t/font_621824_bgbsmim9ejfnipb9.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_621824_bgbsmim9ejfnipb9.svg#iconfont') format('svg');
}
.yiping{
    width: 100vw;
    height: 100vh;
    background-color:white;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    flex-direction:column;
    overflow-y:scroll;
}
.fenlei{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 1.16rem;
    padding-left: 0.62rem;
    line-height: 1.16rem;
    font-size: 0.44rem;
    display: flex;
    overflow-x: scroll;
    background: #fff;
}
.fenlei::-webkit-scrollbar,.content_item::-webkit-scrollbar{
    display: none;
}
.fenlei li{
    width: 0.96rem;
    float:left;
    margin-left: 0.66rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    flex-shrink: 0;
}
.fenlei1{
    color:red;
    border-bottom: 0.06rem solid red;
}
.content_item{
    position: absolute;
    top:1.16rem;
    bottom:1.16rem;
    left:0;
    right:0;
    background: #F4F4F4;
    overflow-y: scroll;
    height: auto;
}
.luobo{
    position: relative;
}
.luobo,.lb_img{
    width: 100%;
    height: 4.4rem;
}
.lb_img{
    position: absolute;
    top:0;
    left:0;
}
.lb_img1{
    z-index: 99;
}
.lb_img img{
    position: absolute;
}
.lb_dian{
    position:absolute;
    bottom:0.3rem;
    right:0.48rem;
    width: 1.62rem;
    height: 0.18rem;
    display: flex;
    justify-content:space-between;
    z-index: 100;
}
.lb_dian div.ldi_active{
    background: red;
}
.lb_dian_it{
    width: 0.18rem;
    height: 0.18rem;
    background: #fff;
    border-radius: 50%;
}
.nr_fl{
    width: 100%;
    height: 4.59rem;
    padding: 0.45rem;
    background: #fff;
}
.nr_fl_1{
    display: flex;
    justify-content:space-between;
    margin-bottom: 0.33rem;
}
.nrfl_it{
    width: auto;
    height: 1.77rem;
    flex-shrink:0;
}
.nrfl_it_img{
    margin:0 auto;
    width: 1.42rem;
    height: 1.42rem;
}
.nrfl_it a{
    display: block;
    font-size: 0.32rem;
    color:#666;
    text-align: center;
    line-height: 0.32rem;
}
.pindan_item{
    width: 100%;
    height: 8.28rem;
    background: #fff;
    margin-top: 0.24rem;
}
.pi1 {
    height: 5.46rem;
    position: relative;
}
.pi1_img{
    width: 4.5rem;
    height: 4.9rem;
    margin: 0 auto;
}
.pi1_img2{
    position: absolute;
    top:0;
    right:0;
    width: 2.31rem;
    height: 1.91rem;
}
.pi1_2{
    width: 100%;
    height: 0.9rem;
    font-size: 0.4rem;
    padding-left: 0.3rem;
    padding-right: 0.58rem;
    margin-bottom: 0.5rem;
}
.pi1_3{
    height: 1rem;
    width: 100%;
    padding: 0 0.3rem;
}
.pi1_3_p{
    font-size: 0.42rem;
    color:red;
    letter-spacing: 0.05rem;
    margin-top: 0.34rem;
    float:left;
    margin-right: 0.34rem;
}
.pi1_3_span{
    font-size: 0.3rem;
    color: #9c9c9c;
    float: left;
    margin-top: 0.46rem;
}
.pi1_3_hong{
    width: 3.05rem;
    float: right;
    height: 1rem;
    border-radius: 0.15rem;
    background: #E03025;
    padding-left: 0.66rem;
    line-height: 1rem;
}
.p3h1{
    font-size: 0.4rem;
    color:#fff;
    margin-right: 0.3rem;
    float: left;
}
.p3h2{
    float: left;
    font-size: 0.3rem;
    color:#fff;
}
.footer{
    width: 100%;
    height: 1.48rem;
    position: fixed;
    left:0;
    bottom:0;
    background: #fff;
    padding:0.14rem 0.74rem 0;
    color:#666;
    display: flex;
    justify-content:space-between;
}
.footer_it{
    text-align: center;
    width: 1rem;
    height: 1.16rem;
    float: left;
    flex-shrink:0;
}
.footer_it_active a,.footer_it_active{
    color:red;
}
.fit_p{
    cursor: pointer;
    font-size: 0.68rem;
    font-family: 'iconfont';
}
.fit_p2{
    cursor: pointer;
    display: block;
    font-size: 0.26rem;
    color:#666;
}
/*二级页面*/
.er_header,.sa_header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    background: #fff;
    padding-left: 0.56rem;
    padding-right: 0.48rem;
}
.er_h1{
    float: left;
    font-size: 0.68rem;
    margin-right: 3.12rem;
    color:#666;
}
.er_h2{
    font-size: 0.56rem;
    float: left;
}
.er_footer{
    width: 100%;
    height: 1.32rem;
    position: fixed;
    bottom: 0;
    left:0;
    background: #fff;
    line-height: 1.23rem;

}
.er_ht{
    width: 100%;
    height: 4.04em;
}
.content_item1{
    top:1.5rem;
    background: #fff;
}
.er_content{
    width: 100%;
    height: 4.35rem;
    background: #fff;
}
.er_cl{
    float: left;
    width: 3.9rem;
    margin-right: 0.2rem;
}
.er_cr{
    float: left;
    padding-right: 0.3rem;
    width: 6.67rem;
    margin-bottom: 0.12rem;
}
.er_cr1{
    margin:0.4rem 0.3rem 1.18rem 0.1rem;
    height: 0.9rem;
    width:100% ;
    font-size: 0.4rem;
}
.er_cr2{
    color:#9c9c9c;
    font-size: 0.32rem;
    height: 0.32rem;
    width: 100%;
}
.er_cr2 p{
    float: right;
}
.er_cr3{
    width: 100%;
    height: 1.37rem;
    position: relative;
    border-bottom: 0.03rem solid #EDEDED;
}
.er_cr3_1{
    margin-top: 0.2rem;
    color:#9c9c9c;
    font-size: 0.32rem;
    margin-bottom: 0.18rem;
}
.er_cr3_2{
    color:#E03025;
    font-size: 0.42rem;
}
.er_cr3_3{
    width: 2.32rem;
    line-height: 0.96rem;
    height: 0.96rem;
    background: #E03025;
    color:#fff;
    position: absolute;
    bottom:0.33rem;
    right:0;
}
.er_cr3_3_p{
    margin:0 0.15rem 0 0.45rem;
    font-size:0.34rem;
    float: left;
    color:#fff;
}
.er_cr3_3_p1{
    font-size: 0.26rem;
}
.er_f1{
    margin-left: 1.45rem;
    height: 0.5rem;
    float:left;
    width: 3.9rem;
}
.er_f1 p{
    font-family: 'iconfont';
    font-size: 0.5rem;
    margin-right: 0.24rem;
    float:left;
}
.er_f1 p.er_f1_p{
    font-size: 0.4rem;
}
.er_f2{
    width: 0.03rem;
    height: 0.56rem;
    float: left;
    background:#E0E0E0;
    margin-top: 0.4rem;
}
/*三级页面*/
.sa_hs{
    display: block;
    float: right;
    font-size: 0.66rem;
}
.sa_cit1{
    width: 100%;
    height: 10.8rem;
    margin-bottom: 0.1rem;
}
.content_item2{
    top:1.5rem;
}
.sa_footer{
    position:fixed;
    bottom:0;
    left:0;
    height: 1.56rem;
    width: 100%;
    background: #fff;
}
.sa_f1{
    background: #fff;
    width: 4rem;
    height: 100%;
    text-align: center;
    float:left;
}
.sa_f1 a{
    line-height: 1.56rem;
    color:#58595B;
    font-size: 0.4rem;
}
.sa_f2{
    width: 6.8rem;
    height: 100%;
    background: red;
    float:left;
    text-align: center;
}
.sa_f2 a{
    font-size: 0.46rem;
    color:#fff;
    line-height: 1.56rem;
}
.sa_cit2{
    width: 100%;
    height: 9.75rem;
    background: #fff;
    padding:0.36rem 0.3rem 0.4rem;
}
.sa_cit2_p1{
    width: 100%;
    height: 0.52rem;
    margin-bottom: 0.39rem;
}
.sa_cp1{
    margin-right: 0.2rem;
    float:left;
    color:red;
    font-size: 0.52rem;
    line-height: 0.52rem;
}
.sa_cp2,.sa_cp3{
    font-size: 0.3rem;
    margin-top: 0.1rem;
    color:#58595B;
}
del{
    text-decoration: line-through;
}
.sa_cp2{
    float:left;
}
.sa_cp3{
    float:right;
}
.sa_cit2_p2{
    width: 100%;
    height: 0.38rem;
    margin-bottom: 0.39rem;
}
.sa_cp2_1{
    font-size: 0.38rem;
    font-weight: bold;
}
.sa_cit2_p3{
    width: 100%;
    line-height: 0.53rem;
    height: 3.19rem;
    color:#58595B;
    font-size: 0.33rem;
    margin-bottom: 0.38rem;
}
.sa_cit2_p4{
    height: 2.63rem;
    font-size: 0.33rem;
    width: 100%;
    color:#58595B;
    line-height: 0.53rem;
    margin-bottom: 0.68rem;
}
.sa_cit2_p5{
    height: 0.32rem;
    width: 100%;
    line-height: 0.32rem;
}
.sa_cp5_1{
    width: 1.8rem;
    float: left;
    margin-right: 0.62rem;
}
.sa_ap511{
    width: 0.32rem;
    height: 0.32rem;
    border-radius: 50%;
    border:1px solid red;
    background: #fff;
    line-height: 0.32rem;
    text-align: center;
    color:red;
    font-size: 0.12rem;
    float: left;
}
.sa_ap512{
    float: right;
    color:#58595B;
    font-size: 0.3rem;
}
.sa_cp5_2{
    float: right;
    width: 0.2rem;
    line-height: 0.32rem;
    color:#58595B;
    font-size: 0.3rem;
}
/*个人中心*/
.content_item3{
    top:0;
}
.ge_cit1{
    width: 100%;
    height: 4.29rem;
    background: #E03025;
    padding:1.28rem 0.4rem 1.14rem;
}
.ge_cit_1{
    width: 1.9rem;
    height: 1.9rem;
    border: 0.02rem solid rgba(255, 255, 255, 0.43);
    border-radius: 50%;
    float: left;
    margin-right: 0.46rem;
}
.ge_cit_1 img{
    border-radius: 50%;
}
.ge_cit_2{
    width: auto;
    height: 100%;
    float: left;
}
.ge_cit_21{
    height: 0.46rem;
    margin-bottom: 0.34rem;
}
.ge_cit_21 a{
    color:#fff;
    font-size: 0.46rem;
    line-height: 0.46rem;
    float: left;
    margin-top: 0.24rem;
}
.ge_cit_21 img{
    float: right;
    width: 0.45rem;
    height: 0.45rem;
    margin-left: 0.2rem;
    margin-top: 0.24rem;
}
.ge_cit_22{
    height: 0.34rem;
    color:#fff;
    font-size: 0.34rem;
}
.ge_cit_3{
    float:right;
    width: 3.5rem;
    height: 0.78rem;
    margin-top: 0.45rem;
}
.ge_dingdan{
    width: 100%;
    height: 3.48rem;
    padding:0 0.36rem;
    background: #fff;
    margin-bottom: 0.25rem;
}
.ge_dd1{
    width: 100%;
    height: 1.37rem;
    border-bottom:  0.02rem solid #E0E0E0;
}
.ge_dd1_p{
    font-size: 0.44rem;
    margin-left: 0.06rem;
    line-height: 1.37rem;
    float: left;
}
.ge_dd1_a{
    float:right;
    font-size: 0.3rem;
    line-height: 1.37rem;
    color:#9c9c9c;
}
.ge_dd2{
    width: 100%;
    margin-top: 0.38rem;
    display:flex;
    justify-content: space-between;
}
.ge_dd2_it{
    width: 1.06rem;
    height: 1.3rem;
    flex-shrink: 0;
}
.ge_di_img{
    width: 100%;
    height: 0.93rem;
}
.ge_dd2_it a,.ge_yhq_it a{
    display: block;
    font-size: 0.3rem;
    color:#000;
}
.ge_yhq{
    height: 2.32rem;
    width: 100%;
    padding:0.4rem 0.5rem 0;
    display: flex;
    justify-content: space-between;
    background: #fff;
}
.ge_yhq_it{
    flex-shrink: 0;
    height: 1.42rem;
}
.ge_yhq_it img{
    width: 1.41rem;
    height: 1.06rem;
}
.ge_kj{
    margin-top: 0.25rem;
    padding-top:0.43rem;
    display: block;
    margin-bottom: 0.25rem;
}
.ge_kj1{
    margin-top:0.3rem;
    width: 0.6rem;
    height: 0.62rem;
    float: left;
    margin-right: 0.28rem;
}
.ge_kj2{
    float: left;
    width: 4.85rem;
    height: 1.45rem;
}
.ge_kj21{
    font-size: 0.48rem;
}
.ge_kj22{
    margin-top: 0.25rem;
    font-size: 0.33rem;
    color:#A7A7A7;
}
.ge_kj3{
    width: 2.2rem;
    height: 0.86rem;
    background: #E03025;
    border-radius: 0.08rem;
    float:right;
    text-align: center;
    margin-top: 0.12rem;
    line-height: 0.86rem;
}
.ge_kj3 a{
    display: block;
    font-size: 0.38rem;
    color:#fff;
}
.ge_dx{
    background: #fff;
    width: 100%;
    height: 1.4rem;
    padding-right: 0.34rem;
    line-height: 1.4rem;
    font-size: 0.36rem;
    border-bottom: 0.02rem solid #E0E0E0;
}
.ge_dx1{
    width: 1.33rem;
    height: 1.39rem;
    float: left;
}
.ge_dx1_a1{
    display: block;
    color:#000;
    font-size: 0.42rem;
    float: left;
}
.ge_dx1_a2{
    display: block;
    float:right;
    color:#9C9C9C;
}
/*个人资料页面*/
.yiping_zl{
    background: #F4F4F4;
}
.content_item4{
    top:1.5rem;
}
.zl_item{
    padding-left: 0.4rem;
    padding-right: 0.33rem;
    width: 100%;
    background: #fff;
    border-bottom: 0.01rem solid #E0E0E0;
    border-top: 0.01rem solid #E0E0E0;
}
.zl_touxi{
    height: 2.2rem;
    line-height: 2.2rem;
}
.zl_tx_l{
    font-size: 0.42rem;
    float:left;
}
.zl_tx_2{
    float: right;
    margin-top: 0.36rem;
    margin-right: 0;
    width: 1.4rem;
    height: 1.4rem;
}
.zl_nicheng{
    height: 1.36rem;
    line-height: 1.36rem;
}
.zl_nicheng_r{
    float:right;
    color:#9C9C9C;
    font-size: 0.42rem;
}
/*未登录*/
.weidenglu_cit1{
    width: 1.89rem;
    height: 1.89rem;
    float: left;
}
.weidenglu_cit2{
    height: 0.9rem;
    width: 2.9rem;
    float: left;
    margin-left: 0.44rem;
    margin-top: 0.5rem;
}
/*登录页面*/
.de_c1{
    width: 100%;
    height: 0.45rem;
    padding-left: 0.51rem;
    font-size: 0.51rem;
    line-height: 0.51rem;
    color:#007EFF;
    margin-top: 0.64rem;
    margin-bottom: 2.6rem;
}
.de_c1 a{
    color:#007EFF;
}
.de_c2{
    text-align: center;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.5rem;
    margin-bottom: 1.15rem;
}
.de_c3{
    width: 8.52rem;
    height: 1.13rem;
    margin:0 auto 1.9rem;
}
.de_c4{
    width: 5.6rem;
    height: 0.34rem;
    margin: 0 auto 0.5rem;
    color:#A3A3A3;
    font-size: 0.34rem;
}
.de_c5{
    width: 3.5rem;
    height: 0.38rem;
    margin:0 auto;
    color:#007EFF;
    font-size: 0.38rem;
}